# –¶–µ–ª—å –ª–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–æ–π —Ä–∞–±–æ—Ç—ã
–ò–∑—É—á–∏—Ç—å —Å–ª–æ–∂–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∏ –≤—ã–±–æ—Ä–∫–∏ –∏ –ø–æ–¥–±–æ—Ä–∞ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ –º–µ—Ç–æ–¥–∞ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π.

# –ó–∞–¥–∞–Ω–∏–µ
–¢—Ä–µ–±—É–µ—Ç—Å—è –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –¥–µ–π—Å—Ç–≤–∏—è:

1. –í—ã–±—Ä–∞—Ç—å –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö (–¥–∞—Ç–∞—Å–µ—Ç) –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á–∏ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∏–ª–∏ —Ä–µ–≥—Ä–µ—Å–∏–∏.
2. –í —Å–ª—É—á–∞–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏ –ø—Ä–æ–≤–µ–¥–∏—Ç–µ —É–¥–∞–ª–µ–Ω–∏–µ –∏–ª–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.
3. –° –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –º–µ—Ç–æ–¥–∞ train_test_split —Ä–∞–∑–¥–µ–ª–∏—Ç–µ –≤—ã–±–æ—Ä–∫—É –Ω–∞ –æ–±—É—á–∞—é—â—É—é –∏ —Ç–µ—Å—Ç–æ–≤—É—é.
4. –û–±—É—á–∏—Ç–µ –º–æ–¥–µ–ª—å –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π –¥–ª—è –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–æ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–∞ 
5. –û—Ü–µ–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ —Å –ø–æ–º–æ—â—å—é —Ç—Ä–µ—Ö –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –¥–ª—è –∑–∞–¥–∞—á–∏ –º–µ—Ç—Ä–∏–∫.
6. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –º–æ–¥–µ–ª—å –∏ –æ—Ü–µ–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏. –ü—Ä–æ–≤–µ–¥–∏—Ç–µ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç—ã —Å —Ç—Ä–µ–º—è —Ä–∞–∑–ª–∏—á–Ω—ã–º–∏ —Å—Ç—Ä–∞—Ç–µ–≥–∏—è–º–∏ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏.
7. –ü—Ä–æ–∏–∑–≤–µ–¥–∏—Ç–µ –ø–æ–¥–±–æ—Ä –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–∞ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º GridSearchCV –∏ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏.
8. –°—Ä–∞–≤–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏ —Å –∫–∞—á–µ—Å—Ç–≤–æ–º –º–æ–¥–µ–ª–∏, –ø–æ–ª—É—á–µ–Ω–Ω–æ–π –≤ –ø—É–Ω–∫—Ç–µ 4.

# –•–æ–¥ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —Ä–∞–±–æ—Ç—ã
–ü–æ–¥–∫–ª—é—á–∏–º –≤—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –Ω–∞—Å—Ç—Ä–æ–∏–º –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏–µ –≥—Ä–∞—Ñ–∏–∫–æ–≤:

In [27]:
import numpy as np
import pandas as pd
from sklearn.datasets import * 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style ="ticks")


from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, StandardScaler, Normalizer

In [2]:
df = pd.read_csv('bank_dataset.csv')

## –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–∞—è –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [3]:
data = df.copy()

In [4]:
df.head()

,userid,score,City,Gender,Age,Objects,Balance,Products,CreditCard,Loyalty,estimated_salary,Churn
0,15677338,619,–Ø—Ä–æ—Å–ª–∞–≤–ª—å,–ñ,42,2,NaN,1,1,1,101348.88,1
1,15690047,608,–†—ã–±–∏–Ω—Å–∫,–ñ,41,1,83807.86,1,0,1,112542.58,0
2,15662040,502,–Ø—Ä–æ—Å–ª–∞–≤–ª—å,–ñ,42,8,159660.80,3,1,0,113931.57,1
3,15744090,699,–Ø—Ä–æ—Å–ª–∞–≤–ª—å,–ñ,39,1,NaN,2,0,0,93826.63,0
4,15780624,850,–†—ã–±–∏–Ω—Å–∫,–ñ,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#–ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

df["City"] = df["City"].astype('category')

df["Gender"] = df["Gender"].astype('category')


#–ù–∞–∑–Ω–∞—á–∏—Ç—å –∑–∞–∫–æ–¥–∏—Ä–æ–≤–∞–Ω–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é –Ω–æ–≤–æ—Å—É —Å—Ç–æ–ª–±—Ü—É —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ –¥–æ—Å—Ç—É–ø–∞
df["City_cat"] = df["City"].cat.codes
df["Gender_cat"] = df["Gender"].cat.codes

In [6]:
df = df.drop(['City', 'Gender'], axis=1)

In [7]:
df.head()

,userid,score,Age,Objects,Balance,Products,CreditCard,Loyalty,estimated_salary,Churn,City_cat,Gender_cat
0,15677338,619,42,2,NaN,1,1,1,101348.88,1,2,0
1,15690047,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,15662040,502,42,8,159660.80,3,1,0,113931.57,1,2,0
3,15744090,699,39,1,NaN,2,0,0,93826.63,0,2,0
4,15780624,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [8]:
df.isna().sum()

userid                 0
score                  0
Age                    0
Objects                0
Balance             3617
Products               0
CreditCard             0
Loyalty                0
estimated_salary       0
Churn                  0
City_cat               0
Gender_cat             0
dtype: int64

In [9]:
df = df.dropna()

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
userid,6383.0,1.573310e+07,71929.130555,15608437.00,1.567094e+07,15732262.00,1.579584e+07,15858426.00
score,6383.0,6.511385e+02,96.934609,350.00,5.840000e+02,652.00,7.180000e+02,850.00
Age,6383.0,3.919771e+01,10.476208,18.00,3.200000e+01,38.00,4.400000e+01,92.00
Objects,6383.0,4.979633e+00,2.909514,0.00,2.000000e+00,5.00,8.000000e+00,10.00
Balance,6383.0,1.198275e+05,30095.056462,3768.69,1.001820e+05,119839.69,1.395123e+05,250898.09
Products,6383.0,1.386025e+00,0.577011,1.00,1.000000e+00,1.00,2.000000e+00,4.00
CreditCard,6383.0,6.992010e-01,0.458641,0.00,0.000000e+00,1.00,1.000000e+00,1.00
Loyalty,6383.0,5.135516e-01,0.499855,0.00,0.000000e+00,1.00,1.000000e+00,1.00
estimated_salary,6383.0,1.007174e+05,57380.316584,11.58,5.173685e+04,101139.30,1.495966e+05,199970.74
Churn,6383.0,2.407959e-01,0.427600,0.00,0.000000e+00,0.00,0.000000e+00,1.00
City_cat,6383.0,1.013630e+00,0.894271,0.00,0.000000e+00,1.00,2.000000e+00,2.00
Gender_cat,6383.0,5.473915e-01,0.497788,0.00,0.000000e+00,1.00,1.000000e+00,1.00

## –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
–†–∞–∑–¥–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ —Ü–µ–ª–µ–≤–æ–π —Å—Ç–æ–ª–±–µ—Ü –∏ –ø—Ä–∏–∑–Ω–∞–∫–∏:

–ü—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ–±—ã—á–Ω–æ —Ä–∞–∑–±–∏–≤–∞—é—Ç—Å—è –Ω–∞ –æ–±—É—á–∞—é—â—É—é ("training set") –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω—É—é ("test set") –≤—ã–±–æ—Ä–∫–∏. 
**–û–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞** –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ—Ç–Ω–æ—à–µ–Ω–∏–π –º–µ–∂–¥—É –Ω–µ–∫–æ—Ç–æ—Ä–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π-–æ—Ç–∫–ª–∏–∫–æ–º –∏ –ø—Ä–µ–¥–∏–∫—Ç–æ—Ä–∞–º–∏, —Ç–æ–≥–¥–∞ –∫–∞–∫ **–∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–∞—è (= "–ø—Ä–æ–≤–µ—Ä–æ—á–Ω–∞—è")** –≤—ã–±–æ—Ä–∫–∞ —Å–ª—É–∂–∏—Ç –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –æ—Ü–µ–Ω–∫–∏ –ø—Ä–æ–≥–Ω–æ–∑–Ω—ã—Ö —Å–≤–æ–π—Å—Ç–≤ –º–æ–¥–µ–ª–∏ –Ω–∞ –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö, —Ç.–µ. –¥–∞–Ω–Ω—ã—Ö, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –±—ã–ª–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.
–í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ –æ–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞ - —ç—Ç–æ –æ—Ç—Ç–æ–∫ –∫–ª–∏–µ–Ω—Ç–æ–≤, –∞ –ø—Ä–æ–≤–µ—Ä–æ—á–Ω–∞—è - —ç—Ç–æ –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –º–æ–≥—É—Ç –≤–ª–∏—è—Ç—å –Ω–∞ —Ä–µ—à–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–∞

–ë–∞–Ω–∫ —Å–æ–±–∏—Ä–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ –æ —Å–≤–æ–∏—Ö –∫–ª–∏–µ–Ω—Ç–∞—Ö –∏ —Ö–æ—á–µ—Ç –≤—ã—è—Å–Ω–∏—Ç—å, –∫–∞–∫–∏–µ –∫–ª–∏–µ–Ω—Ç—ã —á–∞—â–µ –≤—Å–µ–≥–æ –ø–æ–∫–∏–¥–∞—é—Ç –±–∞–Ω–∫. –î–ª—è —ç—Ç–æ–≥–æ –±—ã–ª–∞ —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∞ –æ–±—à–∏—Ä–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ —Å –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏.
–¶–µ–ª–µ–≤—ã–º –ø—Ä–∏–∑–Ω–∞–∫–æ–º –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å –∑–∞–¥–∞—á–µ–π —è–≤–ª—è–µ—Ç—Å—è "–û—Ç—Ç–æ–∫ –∫–ª–∏–µ–Ω—Ç–æ–≤ (Churn)". –ú—ã –ø–µ—Ä–µ–¥–∞–µ–º —Ç–∞–∫—É—é —Ç–∞–±–ª–∏—Ü—É –º–æ–¥–µ–ª–∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ "–æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω–æ–≥–æ –º–∞—Ç–µ—Ä–∏–∞–ª–∞"

In [11]:
y = df['Churn']  #–ù–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
X = df.drop('Churn', axis=1) # –ó–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state= 45)
# random_state –ø–æ–∑–≤–æ–ª—è–µ—Ç –∑–∞–¥–∞–≤–∞—Ç—å –±–∞–∑–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è –≥–µ–Ω–µ—Ä–∞—Ç–æ—Ä–∞ —Å–ª—É—á–∞–π–Ω—ã—Ö —á–∏—Å–µ–ª, —á—Ç–æ–±—ã —Å–¥–µ–ª–∞—Ç—å –≤—ã–±–æ—Ä–∫—É –Ω–µ—Å–ª—É—á–∞–π–Ω–æ–π

In [13]:
# –†–∞–∑–º–µ—Ä –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–∏
X_train.shape, y_train.shape

((4787, 11), (4787,))

In [14]:
# –†–∞–∑–º–µ—Ä —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏
X_test.shape, y_test.shape

((1596, 11), (1596,))

In [15]:
np.unique(y_train)

array([0, 1])

In [16]:
np.unique(y_test)

array([0, 1])

## –ú–æ–¥–µ–ª—å –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π –¥–ª—è –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–æ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–∞ *K*
–ù–∞–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —Å—á–∏—Ç–∞–µ—Ç –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏:

In [17]:
#–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
scaler = MinMaxScaler().fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train), columns = X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns = X_train.columns)
X_train.describe()

,userid,score,Age,Objects,Balance,Products,CreditCard,Loyalty,estimated_salary,City_cat,Gender_cat
count,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000,4787.000000
mean,0.497183,0.602214,0.287423,0.498997,0.439925,0.129030,0.697514,0.512847,0.508251,0.506476,0.544809
std,0.287851,0.193475,0.140587,0.291413,0.128051,0.192955,0.459382,0.499887,0.285996,0.447354,0.498040
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.246767,0.466934,0.189189,0.200000,0.356705,0.000000,0.000000,0.000000,0.261767,0.000000,0.000000
50%,0.492614,0.609218,0.270270,0.500000,0.439208,0.000000,1.000000,1.000000,0.513190,0.500000,1.000000
75%,0.749771,0.739479,0.351351,0.800000,0.523497,0.333333,1.000000,1.000000,0.750887,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
def test_model(model):
    print("mean_absolute_error:",
          mean_absolute_error(y_test, model.predict(X_test)))
    print("mean_squared_error:",
          mean_squared_error(y_test, model.predict(X_test)))
    print("median_absolute_error:",
          median_absolute_error(y_test, model.predict(X_test)))
    print("r2_score:",
          r2_score(y_test, model.predict(X_test)))

–ü–æ–ø—Ä–æ–±—É–µ–º –º–µ—Ç–æ–¥ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π —Å –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º K = 10:

In [31]:
reg_10 = KNeighborsRegressor(n_neighbors=10)
reg_10.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10)

In [32]:
test_model(reg_10)

mean_absolute_error: 0.2895363408521303
mean_squared_error: 0.15360275689223057
median_absolute_error: 0.2
r2_score: 0.12241210313232487

1) mean_absolute_error: 0.289, —á–µ–º –±–ª–∏–∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫ –Ω—É–ª—é, —Ç–µ–º –ª—É—á—à–µ –∫–∞—á–µ—Å—Ç–≤–æ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏.

2) mean_squared_error: 0.15, —á–µ–º –±–ª–∏–∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫ –Ω—É–ª—é, —Ç–µ–º –ª—É—á—à–µ –º–æ–¥–µ–ª—å

3) median_absolute_error: 0.2

4) r2_score: 0.12, —á–µ–º –±–ª–∏–∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–∞ –∫ 0, —Ç–µ–º —Å–ª–∞–±–µ–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å, —Ç–æ –µ—Å—Ç—å —Ä–∞–∑–±—Ä–æ—Å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π –º–æ–¥–µ–ª–∏  ùë¶ÃÇ   –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ —Ä–∞–∑–±—Ä–æ—Å–∞ —Å–∞–º–æ–π —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π  ùë¶  ) –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –≤–µ–ª–∏–∫ - —Ç–æ –µ—Å—Ç—å –º–æ–¥–µ–ª—å –ø–ª–æ—Ö–æ –æ–ø–∏—Å—ã–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ.